@each $width in 0, 5, 10, 20, 25, 30, 33, 34, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 {
.w#{$width} {
		width: percentage($width / 100) !important;
		@if $width == 100 or $width == 0 {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
		@if $width == 0 {
			padding-left: 0 !important;
			padding-right: 0 !important;
			overflow: hidden !important;
		}
	}
}

@each $margin in 0, 5, 10, 20, 25, 30, 33, 34, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 {
.margin#{$margin} {
		margin: $margin+px !important;
	}
}

@each $margin in 0, 5, 10, 20, 25, 30, 33, 34, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 {
.marginLeft#{$margin} {
		margin-left: $margin+px !important;
	}
}

@each $margin in 0, 5, 10, 20, 25, 30, 33, 34, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 {
.marginBottom#{$margin} {
		margin-bottom: $margin+px !important;
	}
}

@each $pad in 0, 2, 4, 5, 10, 15, 20, 25, 30, 33, 34, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 {
.padding#{$pad} {
		padding: $pad+px !important;
	}
}

@each $pad in 0, 2, 4, 5, 10, 15, 20, 25, 30, 33, 34, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 {
.paddingTop#{$pad} {
		padding-top: $pad+px !important;
	}
}

@each $pad in 0, 2, 4, 5, 10, 15, 20, 25, 30, 33, 34, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 {
.paddingBottom#{$pad} {
		padding-bottom: $pad+px !important;
	}
}

